<?xml version="1.0" ?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin id="org.integratedmodelling.thinklab.shell" version="0.8.0"
	class="org.integratedmodelling.thinklab.shell.Shell">
	<requires>
		<import plugin-id="org.integratedmodelling.thinklab.core"/>
	</requires>
	<runtime>
		<library id="core" path="classes/" type="code">
			<doc caption="API documentation">
				<doc-ref path="api/index.html" caption="javadoc" />
			</doc>
			<export prefix="*" />
		</library>
	</runtime>
</plugin>
