<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin class="org.integratedmodelling.thinklab.shell.ShellApplication" id="org.integratedmodelling.thinklab.shell" version="0.8.1.20110428103704">
	<requires>
		<import exported="false" match="compatible" optional="false" plugin-id="org.integratedmodelling.thinklab.core" reverse-lookup="false"/>
		<import exported="false" match="compatible" optional="false" plugin-id="org.integratedmodelling.thinklab.commandline" reverse-lookup="false"/>
		<import exported="false" match="compatible" optional="false" plugin-id="org.integratedmodelling.thinklab.searchengine" reverse-lookup="false"/>
	</requires>	
	<runtime>
		<library id="core" path="classes/" type="code">
			<export prefix="*"/>
		</library>
	</runtime>	
</plugin>
