<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin class="org.integratedmodelling.corescience.CoreScience" id="org.integratedmodelling.thinklab.corescience" version="0.8.1.20110428103707">
	<requires>
		<import exported="false" match="compatible" optional="false" plugin-id="org.integratedmodelling.thinklab.core" reverse-lookup="true"/>
		<import exported="false" match="compatible" optional="false" plugin-id="org.integratedmodelling.thinklab.riskwiz" reverse-lookup="false"/>
		<import exported="false" match="compatible" optional="false" plugin-id="org.integratedmodelling.thinklab.clojure" reverse-lookup="false"/>
	</requires>
	<runtime>
		<library id="core" path="classes/" type="code">
			<export prefix="*"/>
		</library>
		<library id="ontologies" path="ontologies/" type="resources"/>
		<library id="config" path="config/" type="resources"/>
		<library id="bindings" path="bindings/" type="resources"/>
		
		<library id="ext" path="lib/ext-1.1.1.jar" type="code"/>
		<library id="flanagan" path="lib/flanagan.jar" type="code"/>
		<library id="javolution" path="lib/javolution.jar" type="code"/>
		<library id="jep" path="lib/jep-2.4.1.jar" type="code"/>
		<library id="jscience" path="lib/jscience.jar" type="code">
			<export prefix="*"/>
		</library>
		<library id="jung" path="lib/jung-1.7.6.jar" type="code">
			<export prefix="*"/>
		</library>
		<library id="ostermillerutils" path="lib/ostermillerutils_1_06_00.jar" type="code">
			<export prefix="*"/>
		</library>
		<library id="blas" path="lib/Blas.jar" type="code">
			<export prefix="*"/>
		</library>	
		<library id="jcommon" path="lib/jcommon-1.0.13.jar" type="code"/>	
		<library id="colt" path="lib/colt.jar" type="code">
			<export prefix="*"/>
		</library>	
		<library id="jfreechart" path="jfreechart-1.0.10.jar" type="code"/>	
		<library id="optimization" path="lib/optimization.jar" type="code">
			<export prefix="*"/>
		</library>	
		<library id="ssj" path="lib/ssj.jar" type="code">
			<export prefix="*"/>
		</library>	
	</runtime>

	<!-- ontologies -->
	<extension id="observation" plugin-id="org.integratedmodelling.thinklab.core" point-id="ontology">
		<parameter id="url" value="observation.owl"/>
		<parameter id="concept-space" value="observation"/>
	</extension>
	<extension id="measurement" plugin-id="org.integratedmodelling.thinklab.core" point-id="ontology">
		<parameter id="url" value="measurement.owl"/>
		<parameter id="concept-space" value="measurement"/>
	</extension>
	<extension id="representation" plugin-id="org.integratedmodelling.thinklab.core" point-id="ontology">
		<parameter id="url" value="representation.owl"/>
		<parameter id="concept-space" value="representation"/>
	</extension>
	<extension id="source" plugin-id="org.integratedmodelling.thinklab.core" point-id="ontology">
		<parameter id="url" value="source.owl"/>
		<parameter id="concept-space" value="source"/>
	</extension>
    <extension id="modelling" plugin-id="org.integratedmodelling.thinklab.core" point-id="ontology">
		<parameter id="url" value="modelling.owl"/>
		<parameter id="concept-space" value="modelling"/> 
	</extension>

	<!-- bindings -->
	<extension id="clj" plugin-id="org.integratedmodelling.thinklab.core" point-id="language-binding">
		<parameter id="language" value="clojure"/>
		<parameter id="resource" value="clojure/corescience.clj"/>
		<parameter id="resource" value="clojure/ssj.clj"/>
	</extension>
	
	
</plugin>
