<?xml version="1.0" ?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin id="org.integratedmodelling.thinklab.corescience" version="0.8.0" class="org.integratedmodelling.corescience.CoreScience">
	<requires>
		<import plugin-id="org.integratedmodelling.thinklab.core" reverse-lookup="true"/>
		<import plugin-id="org.integratedmodelling.thinklab.riskwiz"/>
		<import plugin-id="org.integratedmodelling.thinklab.clojure"/>
	</requires>
	<runtime>
		<library id="core" path="classes/" type="code">
			<export prefix="*"/>
		</library>
		<library type="resources" path="ontologies/" id="ontologies" />
		<library type="resources" path="config/" id="config" />
		<library type="resources" path="bindings/" id="bindings" />
		
		<library type="code" id="ext" path="lib/ext-1.1.1.jar"/>
		<library type="code" id="flanagan" path="lib/flanagan.jar"/>
		<library type="code" id="javolution" path="lib/javolution.jar"/>
		<library type="code" id="jep" path="lib/jep-2.4.1.jar"/>
		<library type="code" id="jscience" path="lib/jscience.jar">
			<export prefix="*"/>
		</library>
		<library type="code" id="jung" path="lib/jung-1.7.6.jar">
			<export prefix="*"/>
		</library>
		<library type="code" id="ostermillerutils" path="lib/ostermillerutils_1_06_00.jar">
			<export prefix="*"/>
		</library>
		<library type="code" id="blas"  path="lib/Blas.jar">
			<export prefix="*"/>
		</library>	
		<library type="code" id="jcommon"  path="lib/jcommon-1.0.13.jar"/>	
		<library type="code" id="colt"  path="lib/colt.jar">
			<export prefix="*"/>
		</library>	
		<library type="code" id="jfreechart"  path="jfreechart-1.0.10.jar"/>	
		<library type="code" id="optimization"  path="lib/optimization.jar">
			<export prefix="*"/>
		</library>	
		<library type="code" id="ssj"  path="lib/ssj.jar">
			<export prefix="*"/>
		</library>	
	</runtime>

	<!-- ontologies -->
	<extension plugin-id="org.integratedmodelling.thinklab.core" point-id="ontology" id="observation">
		<parameter id="url" value="observation.owl"/>
		<parameter id="concept-space" value="observation" />
	</extension>
	<extension plugin-id="org.integratedmodelling.thinklab.core" point-id="ontology" id="measurement">
		<parameter id="url" value="measurement.owl"/>
		<parameter id="concept-space" value="measurement" />
	</extension>
	<extension plugin-id="org.integratedmodelling.thinklab.core" point-id="ontology" id="representation">
		<parameter id="url" value="representation.owl"/>
		<parameter id="concept-space" value="representation" />
	</extension>
	<extension plugin-id="org.integratedmodelling.thinklab.core" point-id="ontology" id="source">
		<parameter id="url" value="source.owl"/>
		<parameter id="concept-space" value="source" />
	</extension>
    <extension plugin-id="org.integratedmodelling.thinklab.core" point-id="ontology" id="modelling">
		<parameter id="url" value="modelling.owl"/>
		<parameter id="concept-space" value="modelling" /> 
	</extension>

	<!-- bindings -->
	<extension plugin-id="org.integratedmodelling.thinklab.core" point-id="language-binding" id="clj">
		<parameter id="language" value="clojure"/>
		<parameter id="resource" value="clojure/corescience.clj"/>
		<parameter id="resource" value="clojure/ssj.clj"/>
	</extension>
	
	
</plugin>