<?xml version="1.0" ?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin id="org.integratedmodelling.thinklab.dolce" version="0.8.0" class="org.integratedmodelling.thinklab.dolce.DOLCE">
	<requires>
		<import plugin-id="org.integratedmodelling.thinklab.core"/>
	</requires>	
	<runtime>
		<library id="metadata" path="classes/" type="code">
			<export prefix="*" />
		</library>
		<library type="resources" path="ontologies/" id="ontologies" />
	</runtime>
	<extension plugin-id="org.integratedmodelling.thinklab.core" point-id="ontology" id="dolce">
		<parameter id="url" value="DOLCE-lite.owl"/>
		<parameter id="concept-space" value="dolce" />
	</extension>
</plugin>
