<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin class="org.integratedmodelling.thinklab.dolce.DOLCE" id="org.integratedmodelling.thinklab.dolce" version="0.8.1.20110428103721">
	<requires>
		<import exported="false" match="compatible" optional="false" plugin-id="org.integratedmodelling.thinklab.core" reverse-lookup="false"/>
	</requires>	
	<runtime>
		<library id="metadata" path="classes/" type="code">
			<export prefix="*"/>
		</library>
		<library id="ontologies" path="ontologies/" type="resources"/>
	</runtime>
	<extension id="dolce" plugin-id="org.integratedmodelling.thinklab.core" point-id="ontology">
		<parameter id="url" value="DOLCE-Lite.owl"/>
		<parameter id="concept-space" value="dolce"/>
	</extension>
</plugin>
