<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin class="org.integratedmodelling.thinklab.riskwiz.RiskWizPlugin" id="org.integratedmodelling.thinklab.riskwiz" version="0.8.1.20110428103703">

	<requires>
		<import exported="false" match="compatible" optional="false" plugin-id="org.integratedmodelling.thinklab.core" reverse-lookup="false"/>
		<import exported="false" match="compatible" optional="false" plugin-id="org.integratedmodelling.thinklab.clojure" reverse-lookup="false"/>
	</requires>

	<runtime>
		<library id="classes" path="classes/" type="code">
			<export prefix="*"/>
		</library>

		<library id="riskwiz" path="lib/riskwiz.jar" type="code">
			<export prefix="*"/>
		</library>

		<library id="ext" path="lib/ext-1.1.1.jar" type="code">
			<export prefix="*"/>
		</library>
		
		<library id="jep" path="lib/jep-2.4.1.jar" type="code">
			<export prefix="*"/>
		</library>
				
		<library id="smile" path="lib/smile.jar" type="code">
			<export prefix="*"/>
		</library>

		<library id="mvel" path="lib/mvel2-2.0.7.jar" type="code">
			<export prefix="*"/>
		</library>
		
		<library id="ojalgo" path="lib/ojAlgo.jar" type="code">
			<export prefix="*"/>
		</library>

		<library id="config" path="config/" type="resources"/>
		<library id="bindings" path="bindings/" type="resources"/>
		
	</runtime>
	
	<!-- bindings -->
	<extension id="clj" plugin-id="org.integratedmodelling.thinklab.core" point-id="language-binding">
		<parameter id="language" value="clojure"/>
		<parameter id="resource" value="clojure/riskwiz.clj"/>
	</extension>
	
</plugin>
