<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin class="org.integratedmodelling.time.TimePlugin" id="org.integratedmodelling.thinklab.time" version="0.8.1.20110428103719">
	<requires>
		<import exported="false" match="compatible" optional="false" plugin-id="org.integratedmodelling.thinklab.core" reverse-lookup="false"/>
		<import exported="false" match="compatible" optional="false" plugin-id="org.integratedmodelling.thinklab.corescience" reverse-lookup="false"/>
		<import exported="false" match="compatible" optional="false" plugin-id="org.integratedmodelling.thinklab.geospace" reverse-lookup="false"/>
	</requires>
	<runtime>
		<library id="core" path="classes/" type="code">
			<export prefix="*"/>
		</library>
		
		<library id="ontologies" path="ontologies/" type="resources"/>
		<library id="config" path="config/" type="resources"/>
		
		<library id="time" path="lib/joda-time-1.4.jar" type="code">
			<export prefix="*"/>
		</library>

	</runtime>



	<!-- ontologies -->
	<extension id="time" plugin-id="org.integratedmodelling.thinklab.core" point-id="ontology">
		<parameter id="url" value="time.owl"/>
		<parameter id="concept-space" value="time"/>
	</extension>


	<!-- instance constructors 
	<extension 
		plugin-id="org.integratedmodelling.thinklab.core" point-id="instance-constructor" 
		id="time-record-constructor">
		<parameter id="class" value="org.integratedmodelling.time.constructors.TimeRecordConstructor"/>
		<parameter id="semantic-type" value="time:TemporalLocationRecord"/>
	</extension>
	<extension 
		plugin-id="org.integratedmodelling.thinklab.core" point-id="instance-constructor" 
		id="temporal-grid-coverage-constructor">
		<parameter id="class" value="org.integratedmodelling.time.constructors.TemporalGridConstructor"/>
		<parameter id="semantic-type" value="time:RegularTemporalGrid"/>
	</extension> -->

	<!-- literal validators 
	<extension 
		plugin-id="org.integratedmodelling.thinklab.core" point-id="literal-validator" 
		id="datetime-validator">
		<parameter id="class" value="org.integratedmodelling.time.constructors.TimeValidator"/>
		<parameter id="semantic-type" value="time:DateTimeValue"/>
	</extension>
	<extension 
		plugin-id="org.integratedmodelling.thinklab.core" point-id="literal-validator" 
		id="period-validator">
		<parameter id="class" value="org.integratedmodelling.time.constructors.PeriodValidator"/>
		<parameter id="semantic-type" value="time:PeriodValue"/>
	</extension>
	<extension 
		plugin-id="org.integratedmodelling.thinklab.core" point-id="literal-validator" 
		id="duration-validator">
		<parameter id="class" value="org.integratedmodelling.time.constructors.DurationValidator"/>
		<parameter id="semantic-type" value="time:DurationValue"/>
	</extension>
	<extension 
		plugin-id="org.integratedmodelling.thinklab.core" point-id="literal-validator" 
		id="time-record-validator">
		<parameter id="class" value="org.integratedmodelling.time.constructors.TimeRecordValidator"/>
		<parameter id="semantic-type" value="time:TemporalLocationRecord"/>
	</extension> -->

</plugin>
