<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin class="org.integratedmodelling.time.TimePlugin" id="org.integratedmodelling.thinklab.time" version="0.8.1.20110428103719">
	<requires>
		<import exported="false" match="compatible" optional="false" plugin-id="org.integratedmodelling.thinklab.core" reverse-lookup="false"/>
		<import exported="false" match="compatible" optional="false" plugin-id="org.integratedmodelling.thinklab.corescience" reverse-lookup="false"/>
		<import exported="false" match="compatible" optional="false" plugin-id="org.integratedmodelling.thinklab.geospace" reverse-lookup="false"/>
	</requires>
	<runtime>
		<library id="core" path="classes/" type="code">
			<export prefix="*"/>
		</library>
		
		<library id="ontologies" path="ontologies/" type="resources"/>
		<library id="config" path="config/" type="resources"/>
		<library id="bindings" path="bindings/" type="resources"/>
		
		<library id="time" path="lib/joda-time-1.4.jar" type="code">
			<export prefix="*"/>
		</library>

	</runtime>

	<!-- ontologies -->
	<extension id="time" plugin-id="org.integratedmodelling.thinklab.core" point-id="ontology">
		<parameter id="url" value="time.owl"/>
		<parameter id="concept-space" value="time"/>
	</extension>
	
	<!-- bindings -->
	<extension id="clj" plugin-id="org.integratedmodelling.thinklab.core" point-id="language-binding">
		<parameter id="language" value="clojure"/>
		<parameter id="resource" value="clojure/time.clj"/>
	</extension>
</plugin>
