<?xml version="1.0" ?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin id="org.integratedmodelling.thinklab.searchengine" version="0.8.0" class="org.integratedmodelling.searchengine.SearchEnginePlugin">
	<requires>
		<import plugin-id="org.integratedmodelling.thinklab.core"/>
	</requires>	
	<runtime>
		<library id="core" path="classes/" type="code">
			<export prefix="*" />
		</library>
		<library id="config" type="resources" path="config/"/>
		<library type="code" id="jericho" path="lib/jericho-html-2.5.jar"/>
		<library type="code" id="lucene" path="lib/lucene-core-2.2.0.jar"/>
		<library type="code" id="pdfbox" path="lib/PDFBox-0.7.3.jar"/>
	</runtime>
	
	<extension-point  id="search-engine">
		<!-- id of the search engine -->
		<parameter-def id="id" />
		<!-- one or more kboxes separated by commas -->
		<parameter-def id="kbox" multiplicity="none-or-one" />
		<!-- one or more ontologies separated by commas -->
		<parameter-def id="ontology" multiplicity="none-or-one" />
		<!-- if true, index those objects that have no annotations; default is false -->
		<parameter-def id="index-uncommented" multiplicity="none-or-one" /> 
		<!-- only index objects of this type or subtypes; default is everything -->
		<parameter-def id="select-classes" multiplicity="none-or-one" />
		<!-- customization of the way each individual property value is indexed --> 
		<parameter-def id="index" type="null" multiplicity="any" >
			<!-- the property linking to what must be indexed -->
			<parameter-def id="property" />
			<!-- can be "text" or "link" for now -->
			<parameter-def id="type" />
			<!-- floating point, put 1.0 for "normal" -->
			<parameter-def id="weight" />
		</parameter-def>
	</extension-point>
	
</plugin>
