<?xml version="1.0" ?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin id="org.integratedmodelling.thinklab.searchengine" version="0.8.0" class="org.integratedmodelling.searchengine.SearchEnginePlugin">
	<requires>
		<import plugin-id="org.integratedmodelling.thinklab.core"/>
	</requires>	
	<runtime>
		<library id="core" path="classes/" type="code">
			<export prefix="*" />
		</library>
		<library id="config" type="resources" path="config/"/>
		<library type="code" id="jericho" path="lib/jericho-html-2.5.jar"/>
		<library type="code" id="lucene" path="lib/lucene-core-2.2.0.jar"/>
		<library type="code" id="pdfbox" path="lib/PDFBox-0.7.3.jar"/>
	</runtime>
	
	<extension-point  id="search-engine">
		<!-- id of the search engine -->
		<parameter-def id="id" />
		<!-- one or more kboxes separated by commas -->
		<parameter-def id="kbox" multiplicity="none-or-one" />
		<!-- one or more ontologies separated by commas -->
		<parameter-def id="ontology" multiplicity="none-or-one" />
		<!-- if true, index those objects that have no annotations; default is false -->
		<parameter-def id="index-uncommented" multiplicity="none-or-one" /> 
		<!-- only index objects of this type or subtypes; default is everything -->
		<parameter-def id="select-classes" multiplicity="none-or-one" />
		<!-- customization of the way each individual property value is indexed --> 
		<parameter-def id="index" type="null" multiplicity="any" >
			<!-- the property linking to what must be indexed -->
			<parameter-def id="property" />
			<!-- can be "text", "download", "link", or "store" for now -->
			<parameter-def id="type" />
			<!-- floating point weight, 1.0 is default for "normal"; ignored 
				and unnecessary if the type is "store" -->
			<parameter-def id="weight" multiplicity="none-or-one"/>
		</parameter-def>
	</extension-point>
	
	<!-- get a nice search engine so we can use it right away. A reindex will
	     index all ontologies currently loaded. -->
	<extension plugin-id="org.integratedmodelling.thinklab.searchengine" point-id="search-engine" id="thinklab-knowledge-index">
		<parameter id="id" value="thinkcap-knowledge-index"/>
		<parameter id="ontology" value="thinklab-core"/>
		<parameter id="index">
			<parameter id="type" value="text"/>
			<parameter id="property" value="rdfs:label"/>
			<parameter id="weight" value="4.0"/>
		</parameter>
		<parameter id="index">
			<parameter id="type" value="text"/>
			<parameter id="property" value="rdfs:comment"/>
			<parameter id="weight" value="1.0"/>
		</parameter>
	</extension>	
	
</plugin>
