<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin class="org.integratedmodelling.currency.CurrencyPlugin" id="org.integratedmodelling.thinklab.currency" version="0.8.1.20110428103721">
	<requires>
		<import exported="false" match="compatible" optional="false" plugin-id="org.integratedmodelling.thinklab.core" reverse-lookup="false"/>
		<import exported="false" match="compatible" optional="false" plugin-id="org.integratedmodelling.thinklab.sql" reverse-lookup="false"/>
		<import exported="false" match="compatible" optional="false" plugin-id="org.integratedmodelling.thinklab.corescience" reverse-lookup="false"/>
		<import exported="false" match="compatible" optional="false" plugin-id="org.integratedmodelling.thinklab.time" reverse-lookup="false"/>
	</requires>
	<runtime>
		<library id="core" path="classes/" type="code">
			<export prefix="*"/>
		</library>
		<!-- make currency data available -->
		<library id="data" path="data/" type="resources"/>
		<library id="ontologies" path="ontologies/" type="resources"/>
	</runtime>

	<extension id="cconvert" plugin-id="org.integratedmodelling.thinklab.core" point-id="command-handler">
		<parameter id="class" value="org.integratedmodelling.currency.commands.CConvert"/>
		<parameter id="command-name" value="cconvert"/>
		<parameter id="command-description" value="convert currencies and adjust for inflation"/>
		<parameter id="argument-names" value="amount,currency1,date1,currency2,date2"/>
		<parameter id="argument-types" value="thinklab-core:LongFloatingPoint,thinklab-core:Text,time:DateTimeValue,thinklab-core:Text,time:DateTimeValue"/>
		<parameter id="argument-descriptions" value="amount to convert,source currency,date of source value,destination currency,date of destination value"/>
	</extension>
	
	<!-- ontologies -->
	<extension id="economics" plugin-id="org.integratedmodelling.thinklab.core" point-id="ontology">
		<parameter id="url" value="economics.owl"/>
		<parameter id="concept-space" value="economics"/>
	</extension>
	<extension id="currency" plugin-id="org.integratedmodelling.thinklab.core" point-id="ontology">
		<parameter id="url" value="currency.owl"/>
		<parameter id="concept-space" value="currency"/>
	</extension>

</plugin>
