<?xml version="1.0" ?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin id="org.integratedmodelling.thinklab.mca" version="0.8.0" class="org.integratedmodelling.mca.MCAPlugin">

	<requires>
		<import plugin-id="org.integratedmodelling.thinklab.core"/>
		<import plugin-id="org.integratedmodelling.thinklab.corescience"/>
	</requires>	

	<runtime>
		<library type="resources" path="ontologies/" id="ontologies" />
		<library id="mca" path="classes/" type="code">
			<export prefix="*" />
		</library>
	</runtime>
	
	<!-- ontologies -->
	<extension plugin-id="org.integratedmodelling.thinklab.core" point-id="ontology" id="mca">
		<parameter id="url" value="mca.owl"/>
		<parameter id="concept-space" value="mca" />
	</extension>
	
</plugin>
