<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin class="org.integratedmodelling.thinklab.Thinklab" id="org.integratedmodelling.thinklab.core" version="0.8.1.20110428103647">
	<runtime>
		<library id="core" path="classes/" type="code">
			<export prefix="*"/>
		</library>
		<library id="config" path="config/" type="resources"/>
		<library id="clj" path="clj/" type="resources"/>
		<library id="agg_classes" path="lib/agg_V1622_classes.jar" type="code"/>

		<library id="ant-nodeps" path="lib/ant-nodeps-1.6.5.jar" type="code"/>
		<library id="ant-optional" path="lib/ant-optional-1.5.1.jar" type="code"/>
		<library id="asm" path="lib/asm.jar" type="code"/>
		<library id="asm-attris" path="lib/asm-attrs.jar" type="code"/>
		<library id="aterm" path="lib/aterm-java-1.6.jar" type="code"/>
		<library id="bsf" path="lib/bsf.jar" type="code"/>
		<library id="bsh" path="lib/bsh_custom.jar" type="code">
			<export prefix="*"/>
		</library>

		<library id="commons-beanutils" path="lib/commons-beanutils-1.7.0.jar" type="code">
			<export prefix="*"/>
		</library>
		<library id="commons-codec" path="lib/commons-codec-1.3.jar" type="code"/>
		<library id="commons-collections" path="lib/commons-collections-3.2.jar" type="code">
			<export prefix="*"/>
		</library>
		<library id="commons-collections-testframework" path="lib/commons-collections-testframework-3.2.jar" type="code"/>
		<library id="commons-dbcp" path="lib/commons-dbcp-1.2.2.jar" type="code">
			<export prefix="*"/>
		</library>
		<library id="commons-httpclient" path="lib/commons-httpclient-3.0.1.jar" type="code"/>
		<library id="commons-jxpath" path="lib/commons-jxpath-1.2.jar" type="code">
			<export prefix="*"/>
		</library>
		<library id="commons-io" path="lib/commons-io-1.4.jar" type="code">
			<export prefix="*"/>
		</library>		
		<library id="commons-lang" path="lib/commons-lang-2.2.jar" type="code">
			<export prefix="*"/>
		</library>
		<library id="commons-logging" path="lib/commons-logging-1.1.1.jar" type="code"/>
		<library id="commons-math" path="lib/commons-math-2.1.jar" type="code">
			<export prefix="*"/>
		</library>
		<library id="commons-pool" path="lib/commons-pool-1.3.jar" type="code">
			<export prefix="*"/>
		</library>
		
		<!-- neo4j support -->
		<library id="geronimo-jta" path="lib/neo4j/geronimo-jta_1.1_spec-1.1.1.jar" type="code"/>
		<library id="lucene-core" path="lib/neo4j/lucene-core-3.5.0.jar" type="code"/>
		<library id="neo4j-backup" path="lib/neo4j/neo4j-backup-1.6.jar" type="code"/>
		<library id="neo4j-com" path="lib/neo4j/neo4j-com-1.6.jar" type="code"/>
		<library id="neo4j-cypher" path="lib/neo4j/neo4j-cypher-1.6.jar" type="code"/>
		<library id="neo4j-enterprise" path="lib/neo4j/neo4j-enterprise-1.6.jar" type="code"/>
		<library id="neo4j-graph-algo" path="lib/neo4j/neo4j-graph-algo-1.6.jar" type="code"/>
		<library id="neo4j-graph-matching" path="lib/neo4j/neo4j-graph-matching-1.6.jar" type="code"/>
		<library id="neo4j-ha" path="lib/neo4j/neo4j-ha-1.6.jar" type="code"/>
		<library id="neo4j-jmx" path="lib/neo4j/neo4j-jmx-1.6.jar" type="code"/>
		<library id="neo4j-kernel" path="lib/neo4j/neo4j-kernel-1.6.jar" type="code"/>
		<library id="neo4j-lucene-index" path="lib/neo4j/neo4j-lucene-index-1.6.jar" type="code"/>
		<library id="neo4j-management" path="lib/neo4j/neo4j-management-1.6.jar" type="code"/>
		<library id="neo4j-shell" path="lib/neo4j/neo4j-shell-1.6.jar" type="code"/>
		<library id="neo4j-udc" path="lib/neo4j/neo4j-udc-1.6.jar" type="code"/>
		<library id="jline" path="lib/neo4j/org.apache.servicemix.bundles.jline-0.9.94_1" type="code">
			<export prefix="*"/>
		</library>
		<library id="netty" path="lib/neo4j/org.apache.servicemix.bundles.netty-3.2.5.Final_1.jar" type="code"/>
		<library id="server-api" path="lib/neo4j/server-api-1.6.jar" type="code"/>
		<library id="slf4j-api" path="lib/neo4j/slf4j-api-1.6.jar" type="code"/>
		<library id="zookeeper" path="lib/neo4j/zookeeper-3.3.2.jar" type="code"/>
		
		
		<!-- geotools. TODO: resolve redundancies -->
		<library id="batik-anim" path="lib/geotools/batik-anim-1.7.jar" type="code"/>
		<library id="batik-awt-util" path="lib/geotools/batik-awt-util-1.7.jar" type="code"/>
		<library id="batik-bridge" path="lib/geotools/batik-bridge-1.7.jar" type="code"/>
		<library id="batik-css" path="lib/geotools/batik-css-1.7.jar" type="code"/>
		<library id="batik-dom" path="lib/geotools/batik-dom-1.7.jar" type="code"/>
		<library id="batik-ext" path="lib/geotools/batik-ext-1.7.jar" type="code"/>
		<library id="batik-gvt" path="lib/geotools/batik-gvt-1.7.jar" type="code"/>
		<library id="batik-parser" path="lib/geotools/batik-parser-1.7.jar" type="code"/>
		<library id="batik-script" path="lib/geotools/batik-script-1.7.jar" type="code"/>
		<library id="batik-svg-dom" path="lib/geotools/batik-svg-dom-1.7.jar" type="code"/>
		<library id="batik-svggen" path="lib/geotools/batik-svggen-1.7.jar" type="code"/>
		<library id="batik-transcoder" path="lib/geotools/batik-transcoder-1.7.jar" type="code"/>
		<library id="batik-util" path="lib/geotools/batik-util-1.7.jar" type="code"/>
		<library id="batik-xml" path="lib/geotools/batik-xml-1.7.jar" type="code"/>
		<library id="bufr" path="lib/geotools/bufr-1.1.00.jar" type="code"/>
		<library id="deegree" path="lib/geotools/deegree2.jar" type="code"/>
		<library id="ecore" path="lib/geotools/ecore-2.2.2.jar" type="code">
				<export prefix="*"/>
		</library>
		<library id="geoapi" path="lib/geotools/geoapi-2.3-M1.jar" type="code">
			<export prefix="*"/>
		</library>
		<library id="geoapi-pending" path="lib/geotools/geoapi-pending-2.3-M1.jar" type="code">
			<export prefix="*"/>
		</library>
		<library id="gnu-regexp" path="lib/geotools/gnu-regexp-1.1.4.jar" type="code"/>
		<library id="grib" path="lib/geotools/grib-5.1.03.jar" type="code"/>
		<library id="gt-api" path="lib/geotools/gt-api-2.6.5.jar" type="code">
			<export prefix="*"/>
		</library>
		<library id="gt2-arcgrid" path="lib/geotools/gt-arcgrid-2.6.5.jar" type="code"/>
		<library id="gt2-arcsde" path="lib/geotools/gt-arcsde-2.6.5.jar" type="code">
			<export prefix="*"/>
		</library>
		<library id="gt2-brewer" path="lib/geotools/gt-brewer-2.6.5.jar" type="code">
			<export prefix="*"/>
		</library>
		<library id="gt2-charts" path="lib/geotools/gt-charts-2.6.5.jar" type="code"/>		
		<library id="gt2-coverage" path="lib/geotools/gt-coverage-2.6.5.jar" type="code">
			<export prefix="*"/>
		</library>
		<library id="gt2-coverage-io" path="lib/geotools/gt-coverage-io-2.6.5.jar" type="code">
			<export prefix="*"/>
		</library>
		<library id="gt2-coverage-netcdf" path="lib/geotools/gt-coverage-netcdf-2.6.5.jar" type="code">
			<export prefix="*"/>
		</library>
		<library id="gt2-coveragetools" path="lib/geotools/gt-coveragetools-2.6.5.jar" type="code">
			<export prefix="*"/>
		</library>
		<library id="gt2-cql" path="lib/geotools/gt-cql-2.6.5.jar" type="code">
			<export prefix="*"/>
		</library>
		<library id="gt2-data" path="lib/geotools/gt-data-2.6.5.jar" type="code">
			<export prefix="*"/>
		</library>
		<library id="gt2-db2" path="lib/geotools/gt-db2-2.6.5.jar" type="code">
			<export prefix="*"/>
		</library>
		<library id="gt2-directory" path="lib/geotools/gt-directory-2.6.5.jar" type="code">
			<export prefix="*"/>
		</library>
		<library id="gt2-epsg-hsql" path="lib/geotools/gt-epsg-hsql-2.6.5.jar" type="code">
			<export prefix="*"/>
		</library>
		<library id="gt2-epsg-extension" path="lib/geotools/gt-epsg-extension-2.6.5.jar" type="code">
			<export prefix="*"/>
		</library>
		<library id="gt2-feature-pregeneralized" path="lib/geotools/gt-feature-pregeneralized-2.6.5.jar" type="code">
			<export prefix="*"/>
		</library>
		<library id="gt2-geotiff" path="lib/geotools/gt-geotiff-2.6.5.jar" type="code">
			<export prefix="*"/>
		</library>
		<library id="gt2-gmlparsing" path="lib/geotools/gt-gmlparsing-2.6.5.jar" type="code">
			<export prefix="*"/>
		</library>		
		<library id="gt2-graph" path="lib/geotools/gt-graph-2.6.5.jar" type="code"/>		
		<library id="gt2-gtopo30" path="lib/geotools/gt-gtopo30-2.6.5.jar" type="code">
			<export prefix="*"/>
		</library>
		<library id="gt2-image" path="lib/geotools/gt-image-2.6.5.jar" type="code">
			<export prefix="*"/>
		</library>
		<library id="gt2-imageio-ext-gdal" path="lib/geotools/gt-imageio-ext-gdal-2.6.5.jar" type="code">
			<export prefix="*"/>
		</library>
		<library id="gt2-imagemosaic" path="lib/geotools/gt-imagemosaic-2.6.5.jar" type="code"/>
		<library id="gt2-imagemosaic-JDBC" path="lib/geotools/gt-imagemosaic-jdbc-2.6.5.jar" type="code"/>
		<library id="gt2-imagepyramid" path="lib/geotools/gt-imagepyramid-2.6.5.jar" type="code"/>
		<library id="gt2-legacy" path="lib/geotools/gt-legacy-2.6.5.jar" type="code">
			<export prefix="*"/>
		</library>
		<library id="gt2-jdbc" path="lib/geotools/gt-jdbc-2.6.5.jar" type="code">
			<export prefix="*"/>
		</library>		
		<library id="gt2-main" path="lib/geotools/gt-main-2.6.5.jar" type="code">
			<export prefix="*"/>
		</library>
		<library id="gt2-mappane" path="lib/geotools/gt-mappane-2.5-SNAPSHOT.jar" type="code">
			<export prefix="*"/>
		</library>
		<library id="gt2-metadata" path="lib/geotools/gt-metadata-2.6.5.jar" type="code">
			<export prefix="*"/>
		</library>
		<library id="gt2-postgis" path="lib/geotools/gt-postgis-2.6.5.jar" type="code">
			<export prefix="*"/>
		</library>
		<library id="gt2-process" path="lib/geotools/gt-process-2.6.5.jar" type="code">
			<export prefix="*"/>
		</library>
		<library id="gt2-property" path="lib/geotools/gt-property-2.6.5.jar" type="code">
			<export prefix="*"/>
		</library>
		<library id="gt2-referencing" path="lib/geotools/gt-referencing-2.6.5.jar" type="code">
			<export prefix="*"/>
		</library>
		<library id="gt2-referencing3D" path="lib/geotools/gt-referencing3D-2.6.5.jar" type="code">
			<export prefix="*"/>
		</library>
		<library id="gt2-render" path="lib/geotools/gt-render-2.6.5.jar" type="code">
			<export prefix="*"/>
		</library>
		<library id="gt2-sde-dummy" path="lib/geotools/gt-sde-dummy-2.6.5.jar" type="code"/>
		<library id="gt2-shapefile" path="lib/geotools/gt-shapefile-2.6.5.jar" type="code">
			<export prefix="*"/>
		</library>
		<library id="gt2-shapefile-renderer" path="lib/geotools/gt-shapefile-renderer-2.6.5.jar" type="code"/>
		<library id="gt2-svgsupport" path="lib/geotools/gt-svgsupport-2.6.5.jar" type="code">
			<export prefix="*"/>
		</library>
		<library id="gt2-temporal" path="lib/geotools/gt-temporal-2.6.5.jar" type="code">
			<export prefix="*"/>
		</library>
		<library id="gt2-validation" path="lib/geotools/gt-validation-2.6.5.jar" type="code">
			<export prefix="*"/>
		</library>
		<library id="gt2-wfs" path="lib/geotools/gt-wfs-2.6.5.jar" type="code">
			<export prefix="*"/>
		</library>
		<library id="gt2-widgets-swing" path="lib/geotools/gt-widgets-swing-2.6.5.jar" type="code">
			<export prefix="*"/>
		</library>
		<library id="gt2-wms" path="lib/geotools/gt-wms-2.6.5.jar" type="code">
			<export prefix="*"/>
		</library>
		<library id="gt2-xml" path="lib/geotools/gt-xml-2.6.5.jar" type="code">
			<export prefix="*"/>
		</library>
		<library id="gt2-xsd-core" path="lib/geotools/gt-xsd-core-2.6.5.jar" type="code">
			<export prefix="*"/>
		</library>
		<library id="gt2-xsd-filter" path="lib/geotools/gt-xsd-filter-2.6.5.jar" type="code">
			<export prefix="*"/>
		</library>
		<library id="gt2-xsd-gml2" path="lib/geotools/gt-xsd-gml2-2.6.5.jar" type="code">
				<export prefix="*"/>
		</library>
		<library id="gt2-xsd-gml3" path="lib/geotools/gt-xsd-gml3-2.6.5.jar" type="code">
				<export prefix="*"/>
		</library>
		<library id="gt2-xsd-kml" path="lib/geotools/gt-xsd-kml-2.6.5.jar" type="code">
			<export prefix="*"/>
		</library>
		<library id="gt2-xsd-ows" path="lib/geotools/gt-xsd-ows-2.6.5.jar" type="code">
				<export prefix="*"/>
		</library>
		<library id="gt2-xsd-sld" path="lib/geotools/gt-xsd-sld-2.6.5.jar" type="code">
			<export prefix="*"/>
		</library>
		<library id="gt2-xsd-wcs" path="lib/geotools/gt-xsd-wcs-2.6.5.jar" type="code">
			<export prefix="*"/>
		</library>
		<library id="gt2-xsd-wfs" path="lib/geotools/gt-xsd-wfs-2.6.5.jar" type="code">
			<export prefix="*"/>
		</library>
		<library id="gt2-xsd-wps" path="lib/geotools/gt-xsd-wps-2.6.5.jar" type="code"/>
		<library id="h2" path="lib/geotools/h2-1.1.104.jar" type="code"/>
		<library id="hsqldb" path="lib/geotools/hsqldb-1.8.0.7.jar" type="code"/>
		<library id="imageio-ext-arcgrid" path="lib/geotools/imageio-ext-arcgrid-1.0.6-1.jar" type="code"/>
		<library id="imageio-ext-customstreams" path="lib/geotools/imageio-ext-customstreams-1.0.6-1.jar" type="code"/>
		<library id="imageio-ext-tiff" path="lib/geotools/imageio-ext-tiff-1.0.6-1.jar" type="code">
			<export prefix="*"/>
		</library>
		<library id="imageio-ext-utilities" path="lib/geotools/imageio-ext-utilities-1.0.6-1.jar" type="code"/>
		<library id="jai-codec" path="lib/geotools/jai_codec-1.1.3.jar" type="code">
			<export prefix="*"/>
		</library>
		<library id="jai-core" path="lib/geotools/jai_core.jar" type="code">
			<export prefix="*"/>
		</library>
		<library id="jaxb-api" path="lib/geotools/jaxb-api-1.3.jar" type="code"/>
		<library id="jaxb-impl" path="lib/geotools/jaxb-impl-1.3.jar" type="code"/>
		<library id="jaxb-libs" path="lib/geotools/jaxb-libs-1.3.jar" type="code"/>
		<library id="jdom" path="lib/geotools/jdom-1.0.jar" type="code">
			<export prefix="*"/>
		</library>
		<library id="jlfgr" path="lib/geotools/jlfgr-1.0.jar" type="code"/>
		<library id="jsqlparser" path="lib/geotools/jsqlparser-0.3.14.jar" type="code"/>
		<library id="jsr108" path="lib/geotools/jsr108-0.01.jar" type="code"/>
		<library id="jts" path="lib/geotools/jts-1.10.jar" type="code">
			<export prefix="*"/>
		</library>
		<library id="mysql-connector" path="lib/geotools/mysql-connector-java-5.1.5.jar" type="code"/>
		<library id="netcdf" path="lib/geotools/netcdf-2.2.20.jar" type="code"/>
		<library id="picocontainer" path="lib/geotools/picocontainer-1.2.jar" type="code"/>
		<library id="postgis-driver" path="lib/geotools/postgis-driver-1.0.jar" type="code"/>
		<library id="slf4j-jdk" path="lib/geotools/slf4j-jdk14-1.4.0.jar" type="code"/>
		<library id="vecmath" path="lib/geotools/vecmath-1.3.1.jar" type="code"/>
		<library id="opengis-ows" path="lib/geotools/net.opengis.ows-2.6.5.jar" type="code">
			<export prefix="*"/>
		</library>
		<library id="opengis-wcs" path="lib/geotools/net.opengis.wcs-2.6.5.jar" type="code">
			<export prefix="*"/>
		</library>
		<library id="opengis-wfs" path="lib/geotools/net.opengis.wfs-2.6.5.jar" type="code">
			<export prefix="*"/>
		</library>
		<library id="opengis-wfsv" path="lib/geotools/net.opengis.wfsv-2.6.5.jar" type="code">
			<export prefix="*"/>
		</library>
		<library id="opengis-wps" path="lib/geotools/net.opengis.wps-2.6.5.jar" type="code">
			<export prefix="*"/>
		</library>
		<library id="xpp3" path="lib/geotools/xpp3-1.1.3.4.O.jar" type="code"/>
		<library id="xlink" path="lib/geotools/org.w3.xlink-2.6.5.jar" type="code"/>		
		
		<!-- science -->
		<library id="ext" path="lib/science/ext-1.1.1.jar" type="code"/>
		<library id="flanagan" path="lib/science/flanagan.jar" type="code"/>
		<library id="javolution" path="lib/science/javolution.jar" type="code"/>
		<library id="jscience" path="lib/science/jscience.jar" type="code">
			<export prefix="*"/>
		</library>
		<library id="jung" path="lib/science/jung-1.7.6.jar" type="code">
			<export prefix="*"/>
		</library>
		<library id="ostermillerutils" path="lib/science/ostermillerutils_1_06_00.jar" type="code">
			<export prefix="*"/>
		</library>
		<library id="blas" path="lib/science/Blas.jar" type="code">
			<export prefix="*"/>
		</library>	
		<library id="jcommon" path="lib/science/jcommon-1.0.13.jar" type="code"/>	
		<library id="colt" path="lib/science/colt.jar" type="code">
			<export prefix="*"/>
		</library>	
		<library id="optimization" path="lib/science/optimization.jar" type="code">
			<export prefix="*"/>
		</library>	
		<library id="ssj" path="lib/science/ssj.jar" type="code">
			<export prefix="*"/>
		</library>	
		
		<!-- core -->
		<library id="time" path="lib/joda-time-1.4.jar" type="code">
			<export prefix="*"/>
		</library>
		<library id="concurrent" path="lib/concurrent-1.3.4.jar" type="code"/>
		<library id="http" path="lib/http.jar" type="code"/>
		<library id="icu4j" path="lib/icu4j_3_4.jar" type="code"/>
		<library id="iri" path="lib/iri.jar" type="code"/>
		<library id="jena" path="lib/jena.jar" type="code"/>
		<library id="jep" path="lib/jep-2.4.1.jar" type="code"/>
		<library id="jgrapht" path="lib/jgrapht.jar" type="code">
			<export prefix="*"/>
		</library>
		<library id="jopt-simple" path="lib/jopt-simple-2.4-beta2.jar" type="code"/>
		<library id="junit" path="lib/junit.jar" type="code">
			<export prefix="*"/>
		</library>

		<library id="google.collect" path="lib/com.google.collect_1.0.0.jar" type="code">
			<export prefix="*"/>
		</library>

		
		<library id="guice" path="lib/guice-3.0.jar" type="code">
			<export prefix="*"/>
		</library>
		<library id="javax.inject" path="lib/javax.inject.jar" type="code">
			<export prefix="*"/>
		</library>
		<library id="aopalliance" path="lib/aopalliance.jar" type="code">
			<export prefix="*"/>
		</library>
		
		
		<library id="emf.common" path="lib/org.eclipse.emf.common_2.7.0.jar" type="code">
			<export prefix="*"/>
		</library>
		<library id="emf.core" path="lib/org.eclipse.emf.ecore_2.7.0.jar" type="code">
			<export prefix="*"/>
		</library>
		<library id="emf.xmi" path="lib/org.eclipse.emf.ecore.xmi_2.7.0.jar" type="code">
			<export prefix="*"/>
		</library>
		<library id="xtext" path="lib/org.eclipse.xtext_2.0.0.jar" type="code">
			<export prefix="*"/>
		</library>
		<library id="xbase" path="lib/org.eclipse.xtext.xbase_2.0.0.jar" type="code">
			<export prefix="*"/>
		</library>
		<library id="xbase.lib" path="lib/org.eclipse.xtext.xbase.lib_2.0.0.jar" type="code">
			<export prefix="*"/>
		</library>
		<library id="xtext.types" path="lib/org.eclipse.xtext.common.types_2.0.0.jar" type="code">
			<export prefix="*"/>
		</library>
		<library id="xtext.types.shared" path="lib/org.eclipse.xtext.common.types.shared_2.0.0.jar" type="code">
			<export prefix="*"/>
		</library>
		<library id="xtext.ecore" path="lib/org.eclipse.xtext.ecore_2.0.0.jar" type="code">
			<export prefix="*"/>
		</library>
		<library id="emf.codegen" path="lib/org.eclipse.emf.codegen_2.6.0.jar" type="code">
			<export prefix="*"/>
		</library>		
		<library id="emf.codegen.ecore" path="lib/org.eclipse.emf.codegen.ecore_2.7.0.jar" type="code">
			<export prefix="*"/>
		</library>		
		<library id="mwe.core" path="lib/org.eclipse.mwe.core_1.1.0.jar" type="code">
			<export prefix="*"/>
		</library>		
		<library id="mwe.utils" path="lib/org.eclipse.mwe.utils_1.1.0.jar" type="code">
			<export prefix="*"/>
		</library>		
		<library id="mwe2.language" path="lib/org.eclipse.mwe2.language_2.0.0.jar" type="code">
			<export prefix="*"/>
		</library>		
		<library id="mwe2.launch" path="lib/org.eclipse.mwe2.launch_2.0.0.jar" type="code">
			<export prefix="*"/>
		</library>		
		<library id="mwe2.lib" path="lib/org.eclipse.mwe2.lib_2.0.0.jar" type="code">
			<export prefix="*"/>
		</library>		
		<library id="mwe2.runtime" path="lib/org.eclipse.mwe2.runtime_2.0.0.jar" type="code">
			<export prefix="*"/>
		</library>		
		<library id="xpand" path="lib/org.eclipse.xpand_1.1.0.jar" type="code">
			<export prefix="*"/>
		</library>		
		<library id="xtend" path="lib/org.eclipse.xtend_1.1.0.jar" type="code">
			<export prefix="*"/>
		</library>		
		<library id="xtend.typesystem" path="lib/org.eclipse.xtend.typesystem.emf_1.0.1.jar" type="code">
			<export prefix="*"/>
		</library>		
		<library id="xtext.generator" path="lib/org.eclipse.xtext.generator_2.0.0.jar" type="code">
			<export prefix="*"/>
		</library>		
		<library id="xtext.util" path="lib/org.eclipse.xtext.util_2.0.0.jar" type="code">
			<export prefix="*"/>
		</library>		
		<library id="xtext.xtend2" path="lib/org.eclipse.xtext.xtend2_2.0.0.jar" type="code">
			<export prefix="*"/>
		</library>		
		<library id="xtext.xtend2.lib" path="lib/org.eclipse.xtext.xtend2.lib_2.0.0.jar" type="code">
			<export prefix="*"/>
		</library>		
		<library id="antlr.runtime" path="lib/org.antlr.runtime_3.2.0.jar" type="code">
			<export prefix="*"/>
		</library>
		
		<library id="icu" path="lib/com.ibm.icu_4.4.2.jar" type="code">
			<export prefix="*"/>
		</library>
		<library id="kazuki" path="lib/kazuki.jar" type="code"/>
		<library id="mvel" path="lib/mvel2-2.0.7.jar" type="code">
				<export prefix="*"/>
		</library>

		<!-- <library type="code" id="owlapi-api"  path="lib/owlapi-api.jar"/>
		<library type="code" id="owlapi-apibinding"  path="lib/owlapi-apibinding.jar"/>
		<library type="code" id="owlapi-change"  path="lib/owlapi-change.jar"/>
		<library type="code" id="owlapi-debugging"  path="lib/owlapi-debugging.jar"/>
		<library type="code" id="owlapi-dig1_1"  path="lib/owlapi-dig1_1.jar"/>
		<library type="code" id="owlapi-functionalparser"  path="lib/owlapi-functionalparser.jar"/>
		<library type="code" id="owlapi-functionalrenderer"  path="lib/owlapi-functionalrenderer.jar"/>
		<library type="code" id="owlapi-impl"  path="lib/owlapi-impl.jar"/>
		<library type="code" id="owlapi-krssparser"  path="lib/owlapi-krssparser.jar"/>
		<library type="code" id="owlapi-mansyntaxparser"  path="lib/owlapi-mansyntaxparser.jar"/>
		<library type="code" id="owlapi-mansyntaxrenderer"  path="lib/owlapi-mansyntaxrenderer.jar"/>
		<library type="code" id="owlapi-metrics"  path="lib/owlapi-metrics.jar"/>
		<library type="code" id="owlapi-oboparser"  path="lib/owlapi-oboparser.jar"/>
		<library type="code" id="owlapi-owlxmlparser"  path="lib/owlapi-owlxmlparser.jar"/>
		<library type="code" id="owlapi-owlxmlrenderer"  path="lib/owlapi-owlxmlrenderer.jar"/>
		<library type="code" id="owlapi-rdfapi"  path="lib/owlapi-rdfapi.jar"/>
		<library type="code" id="owlapi-rdfxmlparser"  path="lib/owlapi-rdfxmlparser.jar"/>
		<library type="code" id="owlapi-rdfxmlrenderer"  path="lib/owlapi-rdfxmlrenderer.jar"/>
		<library type="code" id="owlapi-util"  path="lib/owlapi-util.jar"/> -->

		<library id="thinklab-api" path="lib/thinklab-api.jar" type="code">
				<export prefix="*"/>
		</library>
		<library id="thinkql" path="lib/thinkql.jar" type="code">
				<export prefix="*"/>
		</library> 
		<library id="clojure" path="lib/clojure-1.3.0-beta1.jar" type="code">
				<export prefix="*"/>
		</library>

		<library id="owlapi" path="lib/owlapi-bin.jar" type="code"/>
		<library id="owlsyntax" path="lib/owlsyntax.jar" type="code"/>
		<library id="pellet" path="lib/pellet.jar" type="code"/>
		<library id="protege" path="lib/protege.jar" type="code">
				<export prefix="*"/>
		</library>
		<library id="protege-owl" path="lib/protege-owl.jar" type="code">
				<export prefix="*"/>
		</library>
		<library id="rdf-api" path="lib/rdf-api-2001-01-19.jar" type="code"/>
		<library id="relaxngDatatype" path="lib/relaxngDatatype.jar" type="code"/>
		<library id="resolver" path="lib/resolver.jar" type="code"/>
		<library id="serializer" path="lib/serializer.jar" type="code"/>
		<library id="stax-api" path="lib/stax-api-1.0.jar" type="code"/>
		<library id="swrl-jess-bridge" path="lib/swrl-jess-bridge.jar" type="code"/>
		<library id="wstx-asl" path="lib/wstx-asl-3.0.0.jar" type="code"/>
		<library id="xercesImpl" path="lib/xercesImpl-2.7.1.jar" type="code">
				<export prefix="*"/>
		</library>
		<library id="xml-apis" path="lib/xml-apis-1.0.b2.jar" type="code">
				<export prefix="*"/>
		</library>
		<library id="xml-apis-xerces" path="lib/xml-apis-xerces-2.7.1.jar" type="code">
				<export prefix="*"/>
		</library>
		<library id="xmlParserAPIs" path="lib/xmlParserAPIs.jar" type="code">
				<export prefix="*"/>
		</library>
		<library id="xsd" path="lib/xsd-2.2.2.jar" type="code">
				<export prefix="*"/>
		</library>
		<library id="xsdlib" path="lib/xsdlib-20050614.jar" type="code"/>	

		<library id="org.apache.commons.fileupload" path="lib/org.apache.commons.fileupload.jar" type="code">
			<export prefix="*"/>
		</library>
		
		<library id="org.apache.httpclient" path="lib/org.apache.httpclient.jar" type="code">
			<export prefix="*"/>
		</library>
		
		<library id="restlet" path="lib/org.restlet.jar" type="code">
			<export prefix="*"/>
		</library>

		<library id="restlet.ext.json" path="lib/org.restlet.ext.json.jar" type="code">
			<export prefix="*"/>
		</library>

		<library id="restlet.ext.fileupload" path="lib/org.restlet.ext.fileupload.jar" type="code">
			<export prefix="*"/>
		</library>

		<library id="restlet.ext.jetty" path="lib/org.restlet.ext.jetty.jar" type="code">
			<export prefix="*"/>
		</library>

		<library id="javax.servlet" path="lib/javax.servlet.jar" type="code">
			<export prefix="*"/>
		</library>
		
		<!-- following libs support core REST services -->
		<library id="jetty.server" path="lib/org.eclipse.jetty.server.jar" type="code">
			<export prefix="*"/>
		</library>
		<library id="jetty.io" path="lib/org.eclipse.jetty.io.jar" type="code">
			<export prefix="*"/>
		</library>
		<library id="jetty.ajp" path="lib/org.eclipse.jetty.ajp.jar" type="code">
			<export prefix="*"/>
		</library>
		<library id="jetty.http" path="lib/org.eclipse.jetty.http.jar" type="code">
			<export prefix="*"/>
		</library>
		<library id="jetty.continuations" path="lib/org.eclipse.jetty.continuations.jar" type="code">
			<export prefix="*"/>
		</library>
		<library id="jetty.util" path="lib/org.eclipse.jetty.util.jar" type="code">
			<export prefix="*"/>
		</library>
		
		<library id="json" path="lib/org.json.jar" type="code">
			<export prefix="*"/>
		</library>
		
		<!-- swt/jface support for occasional GUIs. Would be much nicer to 
			 not have to suck in the Eclipse runtime and OSGI for a couple
			 stupid dependencies. TODO check if that can be solved. -->
		<library id="swt" path="lib/swt.jar" type="code">
			<export prefix="*"/>
		</library>
		<library id="jface" path="lib/jface-3.0m8.jar" type="code">
			<export prefix="*"/>
		</library>
		<library id="forms" path="lib/forms-3.0m8.jar" type="code">
			<export prefix="*"/>
		</library>
		<library id="osgi" path="lib/osgi-3.0m8.jar" type="code">
			<export prefix="*"/>
		</library>
		<library id="runtime" path="lib/runtime-3.0m8.jar" type="code">
			<export prefix="*"/>
		</library>
		
	</runtime>

	<!-- declare an ontology -->
	<extension-point extension-multiplicity="any" id="ontology">
		<parameter-def id="url" multiplicity="one" type="string"/>
		<parameter-def id="concept-space" multiplicity="one" type="string"/>
		<parameter-def id="description" multiplicity="none-or-one" type="string"/>
	</extension-point>

	<!-- declare a kbox, optionally loading initial content if it's empty -->
	<extension-point extension-multiplicity="any" id="kbox">
		<parameter-def id="protocol" multiplicity="one" type="string"/>
		<parameter-def id="url" multiplicity="one" type="string"/>
		<parameter-def id="id" multiplicity="one" type="string"/>
		<parameter-def id="initial-content" multiplicity="none-or-one" type="string"/>
		<parameter-def id="metadata-schema" multiplicity="none-or-one" type="string"/>
		<parameter-def id="description" multiplicity="none-or-one" type="string"/>
	</extension-point>

	<!-- declare a kbox handler -->
	<extension-point extension-multiplicity="any" id="kbox-handler">
		<parameter-def id="class" multiplicity="one" type="string"/>
		<parameter-def id="protocol" multiplicity="one" type="string"/>
		<parameter-def id="description" multiplicity="none-or-one" type="string"/>
	</extension-point>

	<extension-point extension-multiplicity="any" id="session-listener">
		<parameter-def id="class" multiplicity="one" type="string"/>
		<parameter-def id="description" multiplicity="none-or-one" type="string"/>
	</extension-point>

	<extension-point extension-multiplicity="any" id="knowledge-loader">
		<parameter-def id="class" multiplicity="one" type="string"/>
		<parameter-def id="format" multiplicity="one" type="string"/>
		<parameter-def id="description" multiplicity="none-or-one" type="string"/>
	</extension-point>

	<extension-point extension-multiplicity="any" id="knowledge-listener">
		<parameter-def id="class" multiplicity="one" type="string"/>
		<parameter-def id="description" multiplicity="none-or-one" type="string"/>
	</extension-point>

	<extension-point extension-multiplicity="any" id="knowledge-importer">
		<parameter-def id="class" multiplicity="one" type="string"/>
		<parameter-def id="format" multiplicity="one" type="string"/>
		<parameter-def id="description" multiplicity="none-or-one" type="string"/>
	</extension-point>

	<extension-point extension-multiplicity="any" id="language-binding">
		<parameter-def id="language" multiplicity="one" type="string"/>
		<parameter-def id="task-package" multiplicity="any" type="string"/>
		<parameter-def id="classpath" multiplicity="any" type="string"/>
		<parameter-def id="resource" multiplicity="one-or-more" type="string"/>
	</extension-point>

	<extension-point extension-multiplicity="any" id="language-interpreter">
		<parameter-def id="class" multiplicity="one" type="string"/>
		<parameter-def id="language" multiplicity="one" type="string"/>
		<parameter-def id="description" multiplicity="none-or-one" type="string"/>
		<parameter-def id="example" multiplicity="any" type="string"/>
	</extension-point>

	<extension-point extension-multiplicity="any" id="application">
		<parameter-def id="id" multiplicity="one" type="string"/>
		<parameter-def id="main-task-class" multiplicity="none-or-one" type="string"/>
		<parameter-def id="session-class" multiplicity="none-or-one" type="string"/>
		<parameter-def id="declaration" multiplicity="none-or-one" type="string">
			<parameter-def id="language" multiplicity="one" type="string"/>
			<parameter-def id="code" multiplicity="none-or-one" type="string"/>
			<parameter-def id="script" multiplicity="one-or-more" type="string"/>
		</parameter-def>
		<parameter-def id="description" multiplicity="none-or-one" type="string"/>
	</extension-point>

	<extension-point extension-multiplicity="any" id="command-handler">
		<parameter-def id="class" multiplicity="one" type="string"/>
		<parameter-def id="command-name" multiplicity="one" type="string"/>
		<parameter-def id="command-description" multiplicity="one" type="string"/>
		<parameter-def id="return-type" multiplicity="none-or-one" type="string"/>
		<parameter-def id="argument-names" multiplicity="none-or-one" type="string"/>
		<parameter-def id="argument-types" multiplicity="none-or-one" type="string"/>
		<parameter-def id="argument-descriptions" multiplicity="none-or-one" type="string"/>
		<parameter-def id="optional-argument-names" multiplicity="none-or-one" type="string"/>
		<parameter-def id="optional-argument-types" multiplicity="none-or-one" type="string"/>
		<parameter-def id="optional-argument-descriptions" multiplicity="none-or-one" type="string"/>
		<parameter-def id="optional-argument-default-values" multiplicity="none-or-one" type="string"/>
		<parameter-def id="option-names" multiplicity="none-or-one" type="string"/>
		<parameter-def id="option-long-names" multiplicity="none-or-one" type="string"/>
		<parameter-def id="option-types" multiplicity="none-or-one" type="string"/>	
		<parameter-def id="option-argument-labels" multiplicity="none-or-one" type="string"/>	
		<parameter-def id="option-descriptions" multiplicity="none-or-one" type="string"/>	
		<parameter-def id="example" multiplicity="any" type="string"/>
	</extension-point>

</plugin>
