<?xml version="1.0" ?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin id="org.integratedmodelling.thinklab.workflow" version="0.8.0" class="org.integratedmodelling.workflow.WorkflowPlugin">
	<requires>
		<import plugin-id="org.integratedmodelling.thinklab.core"/>
	</requires>	
	<runtime>
		<library id="opal" path="classes/" type="code">
			<export prefix="*" />
		</library>
		<library id="oscore" path="lib/oscore-2.2.5.jar" type="code"/>
		<library id="osuser" path="lib/osuser-1.0-dev-2Feb05.jar" type="code"/>
		<library id="osworkflow" path="lib/osworkflow-2.8.0-im.jar" type="code"/>
		<library id="propertyset" path="lib/propertyset-1.4.jar" type="code"/>
		<library id="quartz" path="lib/quartz-1.6.0.jar" type="code"/>
	</runtime>
</plugin>
