<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin class="org.integratedmodelling.thinklab.workflow.WorkflowPlugin" id="org.integratedmodelling.thinklab.workflow" version="0.8.1.20110428103743">
	<requires>
		<import exported="false" match="compatible" optional="false" plugin-id="org.integratedmodelling.thinklab.core" reverse-lookup="false"/>
	</requires>	
	<runtime>
		<library id="opal" path="classes/" type="code">
			<export prefix="*"/>
		</library>
		<library id="oscore" path="lib/oscore-2.2.5.jar" type="code"/>
		<library id="osuser" path="lib/osuser-1.0-dev-2Feb05.jar" type="code"/>
		<library id="osworkflow" path="lib/osworkflow-2.8.0-im.jar" type="code">
			<export prefix="*"/>
		</library>
		<library id="propertyset" path="lib/propertyset-1.4.jar" type="code"/>
		<library id="quartz" path="lib/quartz-1.6.0.jar" type="code"/>
	</runtime>
</plugin>
