<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin class="org.integratedmodelling.agriculture.AgriculturePlugin" id="org.integratedmodelling.thinklab.agriculture" version="0.8.1.20110428103653">
	<requires>
		<import exported="false" match="compatible" optional="false" plugin-id="org.integratedmodelling.thinklab.core" reverse-lookup="false"/>
	</requires>	
	<runtime>
		<library id="core" path="classes/" type="code">
			<export prefix="*"/>
		</library>
		<library id="seamless-ontologies" path="ontologies/" type="resources"/>
	</runtime>
	<extension id="activity" plugin-id="org.integratedmodelling.thinklab.core" point-id="ontology">
		<parameter id="url" value="activity.owl"/>
		<parameter id="concept-space" value="activity"/>
	</extension>
	<extension id="agrirule" plugin-id="org.integratedmodelling.thinklab.core" point-id="ontology">
		<parameter id="url" value="agrirule.owl"/>
		<parameter id="concept-space" value="agrirule"/>
	</extension>
	<extension id="capri" plugin-id="org.integratedmodelling.thinklab.core" point-id="ontology">
		<parameter id="url" value="capri.owl"/>
		<parameter id="concept-space" value="capri"/>
	</extension>
	<extension id="crop" plugin-id="org.integratedmodelling.thinklab.core" point-id="ontology">
		<parameter id="url" value="crop.owl"/>
		<parameter id="concept-space" value="crop"/>
	</extension>
	<extension id="cropman" plugin-id="org.integratedmodelling.thinklab.core" point-id="ontology">
		<parameter id="url" value="cropman.owl"/>
		<parameter id="concept-space" value="cropman"/>
	</extension>
	<extension id="seamproj" plugin-id="org.integratedmodelling.thinklab.core" point-id="ontology">
		<parameter id="url" value="seamproj.owl"/>
		<parameter id="concept-space" value="seamproj"/>
	</extension>
	<extension id="persistence" plugin-id="org.integratedmodelling.thinklab.core" point-id="ontology">
		<parameter id="url" value="persistence.owl"/>
		<parameter id="concept-space" value="persistence"/>
	</extension>
	<extension id="farm" plugin-id="org.integratedmodelling.thinklab.core" point-id="ontology">
		<parameter id="url" value="farm.owl"/>
		<parameter id="concept-space" value="farm"/>
	</extension>
	<extension id="farmopt" plugin-id="org.integratedmodelling.thinklab.core" point-id="ontology">
		<parameter id="url" value="farmopt.owl"/>
		<parameter id="concept-space" value="farmopt"/>
	</extension>
	<extension id="indi" plugin-id="org.integratedmodelling.thinklab.core" point-id="ontology">
		<parameter id="url" value="indi.owl"/>
		<parameter id="concept-space" value="indi"/>
	</extension>
	<extension id="livestock" plugin-id="org.integratedmodelling.thinklab.core" point-id="ontology">
		<parameter id="url" value="livestock.owl"/>
		<parameter id="concept-space" value="livestock"/>
	</extension>
	<extension id="pica" plugin-id="org.integratedmodelling.thinklab.core" point-id="ontology">
		<parameter id="url" value="pica.owl"/>
		<parameter id="concept-space" value="pica"/>
	</extension>
	<extension id="prodent" plugin-id="org.integratedmodelling.thinklab.core" point-id="ontology">
		<parameter id="url" value="prodent.owl"/>
		<parameter id="concept-space" value="prodent"/>
	</extension>

</plugin>
