<?xml version="1.0" ?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin id="org.integratedmodelling.thinklab.metadata" version="0.8.0" class="org.integratedmodelling.metadata.Metadata">
	<requires>
		<import plugin-id="org.integratedmodelling.thinklab.core"/>
		<import plugin-id="org.integratedmodelling.thinklab.corescience"/>
		<import plugin-id="org.integratedmodelling.thinklab.geospace"/>
		<import plugin-id="org.integratedmodelling.thinklab.time"/>
	</requires>	
	<runtime>
		<library id="core" path="classes/" type="code">
			<export prefix="*" />
		</library>
		<library type="resources" path="ontologies/" id="ontologies" />
	</runtime>
	<extension plugin-id="org.integratedmodelling.thinklab.core" point-id="ontology" id="metadata">
		<parameter id="url" value="metadata.owl"/>
		<parameter id="concept-space" value="metadata" />
	</extension>
	<extension plugin-id="org.integratedmodelling.thinklab.core" point-id="ontology" id="bibtex">
		<parameter id="url" value="bibtex.owl"/>
		<parameter id="concept-space" value="bibtex" />
	</extension>
	
</plugin>
