<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin class="org.integratedmodelling.opal.OPAL" id="org.integratedmodelling.thinklab.opal" version="0.8.1.20110428103651">
	<requires>
		<import exported="false" match="compatible" optional="false" plugin-id="org.integratedmodelling.thinklab.core" reverse-lookup="false"/>
	</requires>	
	<runtime>
		<library id="opal" path="classes/" type="code">
			<export prefix="*"/>
		</library>
	</runtime>

	<!-- OPAL extensions can add profiles to implement specific XML syntaxes -->
	<extension-point extension-multiplicity="any" id="opal-profile">
	   <parameter-def id="url" multiplicity="one" type="string"/>
	   <parameter-def id="description" multiplicity="none-or-one" type="string"/>
	</extension-point>  

	<extension id="opal-loader" plugin-id="org.integratedmodelling.thinklab.core" point-id="knowledge-loader">
		<parameter id="class" value="org.integratedmodelling.opal.OPALLoader"/>
		<parameter id="format" value="xml"/>
	</extension>
</plugin>
