<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin class="org.integratedmodelling.sql.SQLPlugin" id="org.integratedmodelling.thinklab.sql" version="0.8.1.20110428103654">
	<requires>
		<import exported="false" match="compatible" optional="false" plugin-id="org.integratedmodelling.thinklab.core" reverse-lookup="true"/>
	</requires>	
	<runtime>
		<library id="opal" path="classes/" type="code">
			<export prefix="*"/>
		</library>
		
		<library id="config" path="config/" type="resources"/>
		
		<library id="hsqldb" path="lib/hsqldb.jar" type="code">
			<export prefix="*"/>
		</library>
		<library id="postgresql" path="lib/postgresql-8.2dev-503.jdbc3.jar" type="code">
			<export prefix="*"/>
		</library>
	</runtime>

	<extension id="sql-kbox-handler" plugin-id="org.integratedmodelling.thinklab.core" point-id="kbox-handler">
		<parameter id="class" value="org.integratedmodelling.sql.SQLKBoxHandler"/>
		<parameter id="protocol" value="pg,mysql,hsql"/>
	</extension>

</plugin>
