<plugin id="org.integratedmodelling.thinklab.commandline" version="0.8.0" class="org.integratedmodelling.thinklab.commandline.CommandLine">
	<requires>
		<import plugin-id="org.integratedmodelling.thinklab.core"/>
	</requires>
	<runtime>
		<library id="core" path="classes/" type="code">
			<export prefix="*"/>
		</library>
	</runtime>
	<!-- base commands -->
	<extension plugin-id="org.integratedmodelling.thinklab.core" point-id="command-handler" id="load">
		<parameter id="class" value="org.integratedmodelling.thinklab.commandline.commands.Load"/>
		<parameter id="command-name" value="load"/>
		<parameter id="command-description" value="load knowledge from external sources into current session"/>
		<parameter id="argument-names" value="resource"/>
		<parameter id="argument-types" value="thinklab-core:Text"/>
		<parameter id="argument-descriptions" value="filename or URL to load"/>
		<parameter id="option-names" value="k"/>
		<parameter id="option-long-names" value="kbox"/>
		<parameter id="option-types" value="thinklab-core:Text"/>
		<parameter id="option-descriptions" value="knowledge box"/>
	</extension>
</plugin>