<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin class="org.integratedmodelling.idv.IDVPlugin" id="org.integratedmodelling.thinklab.idv" version="0.8.1.20110428103657">

	<requires>
		<import exported="false" match="compatible" optional="false" plugin-id="org.integratedmodelling.thinklab.core" reverse-lookup="false"/>
	</requires>

	<runtime>
		<library id="classes" path="classes/" type="code">
			<export prefix="*"/>
		</library>
		<library id="config" path="config/" type="resources"/>
		
		<!-- idv libs. Also needs the java.library.path with the j3d native libs; can't be
		     done here. -->
		<library id="auxdata" path="lib/auxdata.jar" type="code"/>
		<library id="external" path="lib/external.jar" type="code"/>
		<library id="idv" path="lib/idv.jar" type="code"/>
		<library id="jython" path="lib/jython.jar" type="code"/>
		<library id="local-visad" path="lib/local-visad.jar" type="code"/>
		<library id="ncIdv" path="lib/ncIdv.jar" type="code"/>
		<library id="simpleidv" path="lib/simpleidv.jar" type="code"/>
		<library id="visad" path="lib/visad.jar" type="code"/>
		<library id="j3dcore" path="lib/j3dcore.jar" type="code">
			<export prefix="*"/>
		</library>
		<library id="j3dutils" path="lib/j3dutils.jar" type="code">
			<export prefix="*"/>
		</library>
		<library id="dnsns" path="lib/dnsns.jar" type="code"/>
		<library id="localedata" path="lib/localedata.jar" type="code"/>
		<library id="sunjce_provider" path="lib/sunjce_provider.jar" type="code"/>
		<library id="sunmscapi" path="lib/sunmscapi.jar" type="code"/>
		<library id="sunpkcs11" path="lib/sunpkcs11.jar" type="code"/>
		<library id="vecmath" path="lib/vecmath.jar" type="code"/>
		
	</runtime>
	
</plugin>
