<?xml version="1.0" ?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin id="org.integratedmodelling.thinklab.idv" version="0.8.0" class="org.integratedmodelling.idv.IDVPlugin">

	<requires>
		<import plugin-id="org.integratedmodelling.thinklab.core"/>
	</requires>

	<runtime>
		<library id="classes" path="classes/" type="code">
			<export prefix="*" />
		</library>
		<library type="resources" path="config/" id="config" />
		
		<!-- idv libs. Also needs the java.library.path with the j3d native libs; can't be
		     done here. -->
		<library type="code" id="auxdata" path="lib/auxdata.jar"/>
		<library type="code" id="external" path="lib/external.jar"/>
		<library type="code" id="idv" path="lib/idv.jar"/>
		<library type="code" id="jython" path="lib/jython.jar"/>
		<library type="code" id="local-visad" path="lib/local-visad.jar"/>
		<library type="code" id="ncIdv" path="lib/ncIdv.jar"/>
		<library type="code" id="simpleidv" path="lib/simpleidv.jar"/>
		<library type="code" id="visad" path="lib/visad.jar"/>
		<library type="code" id="j3dcore" path="lib/j3dcore.jar">
			<export prefix="*" />
		</library>
		<library type="code" id="j3dutils" path="lib/j3dutils.jar">
			<export prefix="*" />
		</library>
		<library type="code" id="dnsns" path="lib/dnsns.jar"/>
		<library type="code" id="localedata" path="lib/localedata.jar"/>
		<library type="code" id="sunjce_provider" path="lib/sunjce_provider.jar"/>
		<library type="code" id="sunmscapi" path="lib/sunmscapi.jar"/>
		<library type="code" id="sunpkcs11" path="lib/sunpkcs11.jar"/>
		<library type="code" id="vecmath" path="lib/vecmath.jar"/>
		
	</runtime>
	
</plugin>
