<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin class="org.integratedmodelling.ecology.Ecology" id="org.integratedmodelling.thinklab.ecology" version="0.8.1.20110428103733">
	<requires>
		<import exported="false" match="compatible" optional="false" plugin-id="org.integratedmodelling.thinklab.core" reverse-lookup="false"/>
		<import exported="false" match="compatible" optional="false" plugin-id="org.integratedmodelling.thinklab.corescience" reverse-lookup="false"/>
		<import exported="false" match="compatible" optional="false" plugin-id="org.integratedmodelling.thinklab.dolce" reverse-lookup="false"/>
	</requires>	
	<runtime>
		<library id="core" path="classes/" type="code">
			<export prefix="*"/>
		</library>
		<library id="eco-ontologies" path="ontologies/eco/" type="resources"/>
		<library id="lulc-ontologies" path="ontologies/lulc/" type="resources"/>
	</runtime>
	<extension id="ecology" plugin-id="org.integratedmodelling.thinklab.core" point-id="ontology">
		<parameter id="url" value="ecology.owl"/>
		<parameter id="concept-space" value="ecology"/>
	</extension>
	<extension id="weather" plugin-id="org.integratedmodelling.thinklab.core" point-id="ontology">
		<parameter id="url" value="weather.owl"/>
		<parameter id="concept-space" value="weather"/>
	</extension>
		<extension id="habitat" plugin-id="org.integratedmodelling.thinklab.core" point-id="ontology">
		<parameter id="url" value="habitat.owl"/>
		<parameter id="concept-space" value="habitat"/>
	</extension>
	<extension id="lulc" plugin-id="org.integratedmodelling.thinklab.core" point-id="ontology">
		<parameter id="url" value="lulc.owl"/>
		<parameter id="concept-space" value="lulc"/>
	</extension>
    <extension id="anderson1" plugin-id="org.integratedmodelling.thinklab.core" point-id="ontology">
		<parameter id="url" value="anderson1.owl"/>
		<parameter id="concept-space" value="anderson1"/>
	</extension>
	<extension id="anderson2" plugin-id="org.integratedmodelling.thinklab.core" point-id="ontology">
		<parameter id="url" value="anderson2.owl"/>
		<parameter id="concept-space" value="anderson2"/>
	</extension>
	<extension id="apa" plugin-id="org.integratedmodelling.thinklab.core" point-id="ontology">
		<parameter id="url" value="apa.owl"/>
		<parameter id="concept-space" value="apa"/>
	</extension>
	<extension id="nlcd" plugin-id="org.integratedmodelling.thinklab.core" point-id="ontology">
		<parameter id="url" value="nlcd.owl"/>
		<parameter id="concept-space" value="nlcd"/>
	</extension>
	<extension id="infrastructure" plugin-id="org.integratedmodelling.thinklab.core" point-id="ontology">
		<parameter id="url" value="infrastructure.owl"/>
		<parameter id="concept-space" value="infrastructure"/>
	</extension>
	<extension id="corine" plugin-id="org.integratedmodelling.thinklab.core" point-id="ontology">
		<parameter id="url" value="corine.owl"/>
		<parameter id="concept-space" value="corine"/>
	</extension>
	<extension id="mglulc" plugin-id="org.integratedmodelling.thinklab.core" point-id="ontology">
		<parameter id="url" value="mglulc.owl"/>
		<parameter id="concept-space" value="mglulc"/>
	</extension>
	<extension id="domlulc" plugin-id="org.integratedmodelling.thinklab.core" point-id="ontology">
		<parameter id="url" value="domlulc.owl"/>
		<parameter id="concept-space" value="domlulc"/>
	</extension>	
	<extension id="glc" plugin-id="org.integratedmodelling.thinklab.core" point-id="ontology">
		<parameter id="url" value="glc.owl"/>
		<parameter id="concept-space" value="glc"/>
	</extension>	
	<extension id="veracruz" plugin-id="org.integratedmodelling.thinklab.core" point-id="ontology">
		<parameter id="url" value="veracruz-lulc.owl"/>
		<parameter id="concept-space" value="veracruz-lulc"/>
	</extension>
    <extension id="tanzania-lulc" plugin-id="org.integratedmodelling.thinklab.core" point-id="ontology">
		<parameter id="url" value="tanzania-lulc.owl"/>
		<parameter id="concept-space" value="tanzania-lulc"/>
	</extension>	
    <extension id="ontario-lulc" plugin-id="org.integratedmodelling.thinklab.core" point-id="ontology">
		<parameter id="url" value="ontario-lulc.owl"/>
		<parameter id="concept-space" value="ontario-lulc"/>
	</extension>	
</plugin>
