<?xml version="1.0" ?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin id="org.integratedmodelling.thinklab.modelling" version="0.8.0" class="org.integratedmodelling.modelling.ModellingPlugin">

	<requires>
		<import plugin-id="org.integratedmodelling.thinklab.core"/>
		<import plugin-id="org.integratedmodelling.thinklab.clojure"/>
		<import plugin-id="org.integratedmodelling.thinklab.corescience"/>
		<import plugin-id="org.integratedmodelling.thinklab.geospace"/>
		<import plugin-id="org.integratedmodelling.thinklab.time"/>
		<import plugin-id="org.integratedmodelling.thinklab.dynamicmodelling"/>
		<import plugin-id="org.integratedmodelling.thinklab.rules"/>
	</requires>

	<runtime>
		<library id="classes" path="classes/" type="code">
			<export prefix="*" />
		</library>
		<library type="resources" path="config/" id="config" />
		<library type="resources" path="bindings/" id="bindings" />
		<!-- this is only so we can run clj -context modelling example.clj - may be removed --> 
		<library type="resources" path="examples/" id="examples" />
		
		<!-- visualization and netcdf libs -->
		<library type="code" id="bufrTables" path="lib/bufrTables-1.5.jar"/>
		<library type="code" id="commons-codec" path="lib/commons-codec-1.3.jar"/>
		<library type="code" id="commons-httpclient" path="lib/commons-httpclient-3.1.jar"/>
		<library type="code" id="commons-logging" path="lib/commons-logging-1.1.jar"/>
		<library type="code" id="ehcache" path="lib/ehcache-16.0-beta3.jar"/>
		<library type="code" id="forms" path="lib/forms-1.0.7.jar"/>
		<library type="code" id="grib" path="lib/grib-6.0.jar"/>
		<library type="code" id="jdom" path="lib/jdom.jar"/>
		<library type="code" id="jpeg2000" path="lib/jpeg2000.jar"/>
		<library type="code" id="netcdf" path="lib/netcdf-4.0.jar"/>
		<library type="code" id="netcdfUI" path="lib/netcdfUI-4.0.jar"/>
		<library type="code" id="slf4j-api" path="lib/slf4j-api-1.5.6.jar"/>
		<library type="code" id="slf4j-jdk4" path="lib/slf4j-jdk4-1.5.6.jar"/>
		<library type="code" id="slf4j-log4j12" path="lib/slf4j-log4j12-1.5.6.jar"/>
		<library type="code" id="spring" path="lib/spring-2.5.jar"/>
		<library type="code" id="stax-api" path="lib/stax-api-1.0.1.jar"/>
		<library type="code" id="visad" path="lib/visad.jar"/>
		
	</runtime>
	
	<!-- bindings -->
	<extension plugin-id="org.integratedmodelling.thinklab.core" point-id="language-binding" id="clj">
		<parameter id="language" value="clojure"/>
		<parameter id="resource" value="clojure/modelling.clj"/>
		<parameter id="resource" value="clojure/corescience.clj"/>
		<parameter id="resource" value="clojure/random.clj"/>
		<parameter id="resource" value="clojure/visualization.clj"/>
	</extension>
	
</plugin>
