<?xml version="1.0" ?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin id="org.integratedmodelling.thinklab.modelling" version="0.8.0" class="org.integratedmodelling.modelling.ModellingPlugin">

	<requires>
		<import plugin-id="org.integratedmodelling.thinklab.core"/>
		<import plugin-id="org.integratedmodelling.thinklab.clojure"/>
		<import plugin-id="org.integratedmodelling.thinklab.corescience"/>
		<import plugin-id="org.integratedmodelling.thinklab.geospace"/>
		<import plugin-id="org.integratedmodelling.thinklab.time"/>
		<import plugin-id="org.integratedmodelling.thinklab.dynamicmodelling"/>
		<import plugin-id="org.integratedmodelling.thinklab.rules"/>
	</requires>

	<runtime>
		<library id="classes" path="classes/" type="code">
			<export prefix="*" />
		</library>
		<library type="resources" path="config/" id="config" />
		<library type="resources" path="bindings/" id="bindings" />
		<!-- this is only so we can run clj -context modelling example.clj - may be removed --> 
		<library type="resources" path="examples/" id="examples" />
	</runtime>
	
	<!-- bindings -->
	<extension plugin-id="org.integratedmodelling.thinklab.core" point-id="language-binding" id="clj">
		<parameter id="language" value="clojure"/>
		<parameter id="resource" value="clojure/modelling.clj"/>
		<parameter id="resource" value="clojure/corescience.clj"/>
		<parameter id="resource" value="clojure/random.clj"/>
	</extension>
	
</plugin>
