<?xml version="1.0" ?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin id="org.integratedmodelling.thinklab.agents" version="0.8.0" class="org.integratedmodelling.agents.AgentPlugin">
	<requires>
		<import plugin-id="org.integratedmodelling.thinklab.core"/>
	</requires>	
	<runtime>
		<library id="opal" path="classes/" type="code">
			<export prefix="*" />
		</library>
		<library id="iiop" path="lib/iiop.jar" type="code"/>
		<library id="jade" path="lib/jade.jar" type="code"/>
		<library id="jadeTools" path="lib/jadeTools.jar" type="code"/>
	</runtime>

</plugin>
