<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin class="org.integratedmodelling.rules.RulePlugin" id="org.integratedmodelling.thinklab.rules" version="0.8.1.20110428103740">
	<requires>
		<import exported="false" match="compatible" optional="false" plugin-id="org.integratedmodelling.thinklab.core" reverse-lookup="true"/>
	</requires>
	<runtime>
		<library id="core" path="classes/" type="code">
			<export prefix="*"/>
		</library>				
		<library id="jdt-core" path="lib/core-3.2.3.v_686_R32x.jar" type="code"/>
		<library id="drools-analytics" path="lib/drools-analytics-4.0.7.jar" type="code"/>
		<library id="drools-ant" path="lib/drools-ant-4.0.7.jar" type="code"/>
		<library id="drools-compiler" path="lib/drools-compiler-4.0.7.jar" type="code"/>
		<library id="drools-core" path="lib/drools-core-4.0.7.jar" type="code"/>
		<library id="drools-jsr94" path="lib/drools-jsr94-4.0.7.jar" type="code"/>
		<library id="janino" path="lib/janino-2.5.10.jar" type="code"/>
		<library id="jsr94" path="lib/jsr94-1.1.jar" type="code"/>
		<library id="jxl" path="lib/jxl-2.4.2.jar" type="code"/>
	<!--		<library type="code" id="mvel"  path="lib/mvel-1.3.1-java1.4.jar"/> -->
		<library id="xpp3" path="lib/xpp3_min-1.1.3.4.O.jar" type="code"/>
		<library id="xstream" path="lib/xstream-1.2.2.jar" type="code"/>
	</runtime>

	<!-- session listener to enable rule interception -->
	<extension id="drools-session-listener" plugin-id="org.integratedmodelling.thinklab.core" point-id="session-listener">
		<parameter id="class" value="org.integratedmodelling.rules.session.RuleSessionListener"/>
	</extension>

</plugin>
