<?xml version="1.0" ?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin id="org.integratedmodelling.thinklab.http" version="0.8.0" class="org.integratedmodelling.thinklab.http.ThinklabHttpdPlugin">
	
	<requires>
		<import plugin-id="org.integratedmodelling.thinklab.core" reverse-lookup="true" />
	</requires>
	
	<runtime>
		<library id="plugin" path="classes/" type="code"> 
			<export prefix="*"/>
		</library> 
		<library id="webapp" path="webapp/WEB-INF/classes/" type="code"> 
			<export prefix="*"/> 
		</library> 
		<library id="jetty-util" path="lib/jetty-util-6.1.3.jar" type="code"> 
			<export prefix="*"/> 
		</library> 
		<library id="jetty" path="lib/jetty-6.1.3.jar" type="code"> 
			<export prefix="*"/> 
		</library> 
		<library id="servlet-api" path="lib/servlet-api-2.5-6.1.3.jar" type="code"> 
			<export prefix="*"/> 
		</library> 
		
		<library id="Filters" path="lib/Filters.jar" type="code"/> 
		<library id="groovy" path="lib/groovy.jar" type="code"/> 
		<library id="itext" path="lib/itext.jar" type="code"/> 
		<library id="js" path="lib/js.jar" type="code"/> 
		<library id="jsp-api" path="lib/jsp-api-2.0.jar" type="code"/> 
		<library id="jxl" path="lib/jxl.jar" type="code"/> 
		<library id="jxp" path="lib/jxp.jar" type="code"/> 
		<library id="slf4j-api" path="lib/slf4j-api-1.3.1.jar" type="code"/> 
		<library id="slf4j-simple" path="lib/slf4j-simple-1.3.1.jar" type="code"/> 
		<library id="timelinez" path="lib/timelinez.jar" type="code">
			<export prefix="*"/>
		</library> 
		
		<library id="zcommon" path="lib/zcommon.jar" type="code">
			<export prefix="*"/>
		</library>
 
		<library id="zcommons-el" path="lib/zcommons-el.jar" type="code">
			<export prefix="*"/>
		</library>

		<library id="zhtml" path="lib/zhtml.jar" type="code">
			<export prefix="*"/>
		</library>
		
		<library id="zk" path="lib/zk.jar" type="code">
			<export prefix="*"/>
		</library>
 
		<library id="zkex" path="lib/zkex.jar" type="code">
			<export prefix="*"/>
		</library>
 
		<library id="zkmax" path="lib/zkmax.jar" type="code">
			<export prefix="*"/>
		</library>
 
		<library id="zkplus" path="lib/zkplus.jar" type="code"/>
 
		<library id="zml" path="lib/zml.jar" type="code">
			<export prefix="*"/>
		</library>
 
		<library id="zul" path="lib/zul.jar" type="code">
			<export prefix="*"/>
		</library>
 
		<library id="zweb" path="lib/zweb.jar" type="code">
			<export prefix="*"/>
		</library>
 
	</runtime>
	 
	<extension-point id="thinkcap-application"> 
		<parameter-def id="name" />
		<parameter-def id="entry-point" />
		<parameter-def id="location" />
		<parameter-def id="model-class"  multiplicity="none-or-one" />
		<parameter-def id="short-description" />
		<parameter-def id="long-description" />
		<parameter-def id="running-head" multiplicity="none-or-one" />
		<parameter-def id="copyright" multiplicity="none-or-one" />
		<parameter-def id="logo-small" multiplicity="none-or-one" />
		<parameter-def id="logo-large"  multiplicity="none-or-one" />
		<parameter-def id="banner"  multiplicity="none-or-one" />
		<parameter-def id="style"  multiplicity="none-or-one" />
		<parameter-def id="skin"  multiplicity="none-or-one" />
		<parameter-def id="author" type="null" multiplicity="any"> 
			<parameter-def id="name" />
			<parameter-def id="logo" />
			<parameter-def id="url" />
			<parameter-def id="description" multiplicity="none-or-one"/> 
			<parameter-def id="icon" multiplicity="none-or-one"/> 
		</parameter-def> 
		<parameter-def id="authentication" type="null" multiplicity="none-or-one">
			<parameter-def id="authentication-manager-class" />
			<parameter-def id="user" type="null" multiplicity="any">
				<parameter-def id="user-id"/>
				<parameter-def id="user-password"  />
				<parameter-def id="user-domain" multiplicity="none-or-one" />
			</parameter-def>
		</parameter-def>
	</extension-point> 
	
	<extension-point id="type-decoration">
		<parameter-def id="type"/>
	</extension-point>
	
	<extension-point id="search-form">
		<parameter-def id="type"/>
	</extension-point>
	
	<extension-point id="query-result-form" >
		<parameter-def id="type"/>
	</extension-point>
		
	<extension-point id="zk">
		<!-- TODO use this stuff, even declare classes and components and build lang-addon.xml
			automatically -->
		<parameter-def id="manifest"/>
		<parameter-def id="component" type="null" multiplicity="any">
			<parameter-def id="id" />
			<parameter-def id="class" multiplicity="none-or-one" />
			<parameter-def id="component-macro-definition" multiplicity="none-or-one" />
			<parameter-def id="mold" multiplicity="none-or-one"/>
			<parameter-def id="extends" multiplicity="none-or-one"/>
		</parameter-def>
	</extension-point>

	<!--
		layouts are used in the portal component, using the layout parameter to
		specify the id defined here. The layout defined in this extension is the
		initial layout; if persistent is true and there is authentication information
		in sessions, the layout is automatically persisted between sessions.
	-->
	<extension-point id="layout">
		<parameter-def id="id"/>
		<parameter-def id="persistent" type="boolean"/>
		<parameter-def id="column" type="null" multiplicity="one-or-more">
			<parameter-def id="width" type="number"/>
			<parameter-def id="heigth" type="number"/>
			<parameter-def id="portlet" type="null" multiplicity="any" >
				<parameter-def id="id"/>
				<parameter-def id="title" multiplicity="none-or-one" />
				<parameter-def id="state" multiplicity="none-or-one" />
				<parameter-def id="closable" multiplicity="none-or-one" type="boolean" />
				<parameter-def id="collapsible" multiplicity="none-or-one" type="boolean" />
				<parameter-def id="open" multiplicity="none-or-one" type="boolean" />
				<parameter-def id="moveable" multiplicity="none-or-one" type="boolean" />
			</parameter-def>
		</parameter-def>
	</extension-point>
	
	<!--
	-->
	<extension-point id="portlet">
		<parameter-def id="id"/>
		<parameter-def id="view" type="null">
			<parameter-def id="class"/>
		</parameter-def>
		<parameter-def id="model" type="null">
			<parameter-def id="class"/>
		</parameter-def>
		<parameter-def id="state" type="null" multiplicity="one-or-more">
			<parameter-def id="id"/>
			<parameter-def id="width" type="number"/>
			<parameter-def id="heigth" type="number"/>
		</parameter-def>
	</extension-point>
	
	
</plugin>
